<head>
	<meta charset = "UTF-8">
	<title>Livwel Form</title>

	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
	<body>
		<div id="forms"></div>
		<div id="cards" style="display: none;"></div>
		<script src="build.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</body>